.slickSlider {
  transform: translateY(50px);
}

.slick-dots {
  bottom: 50px;
  li button {
    &:before {
      font-size: 14px;
      color: #d8d8d8;
    }
  }
  li.slick-active button {
    &:before {
      color: #fb4226;
    }
  }
}

.button {
  position: relative;
  .button-previous {
    text-align: left;
  }
  .button-next {
    position: absolute;
    right: 0;
  }
}

.slickSlider:hover .hoverPoster {
  opacity: 1;
}

.hoverPoster {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: all 0.5s;

  button {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  button img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.button-previous,
.button-next {
  cursor: pointer;
  transform: translateY(-300px);
  background-color: transparent;
  border: none;
  z-index: 0;
  img {
    width: 50px;
    height: 50px;
  }
  &:focus {
    outline: none;
  }
  @media screen and (max-width: 1196px) {
    transform: translateY(-280px);
  }
  @media screen and (max-width: 1024px) {
    transform: translateY(-250px);
  }
  @media screen and (max-width: 992px) {
    display: none;
  }
}

