.tab-content .showing_item {
  position: relative;
}
.showing_item img.poster {
  width: 100%;
}
.tab-content .showing_item .item_poster {
  position: relative;
}
.tab-content .showing_item .item_poster .hover_poster {
  background: linear-gradient(to top, rgb(0, 0, 0), transparent 100%);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.tab-content .showing_item:hover .hover_poster {
  opacity: 1;
  cursor: pointer;
}
.showing_item .item_poster .hover_poster a img {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showing_item .item_content {
  position: relative;
}
.showing_item .item_content .info span {
  border-radius: 4px;
  font-size: 14px;
  padding: 2px;
  background: #fb4226;
  color: white;
  margin-right: 5px;
}
.showing_item .item_content .info h3 {
  display: inline;
  line-height: 8px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}
.showing_item .item_content .info p {
  font-size: 13px;
  color: grey;
  letter-spacing: 0.5px;
}
.showing_item .item_content button {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  background: #fb4226;
  border: none;
  outline: none;
  margin: 1rem 0;
  opacity: 0;
  transition: all 0.5s;
}
.showing_item:hover .info {
  opacity: 0;
}
.showing_item:hover button {
  opacity: 1;
}

.showing_item .showing_rate p {
  font-size: 16px;
  line-height: 1.2px;
  transform: translateY(12px);
  color: #fff;
}
.showing_item .showing_rate span {
  display: flex;
  justify-content: center;
  padding: 3px;
}
.showing_item .showing_rate span img {
  width: 8px;
  height: 8px;
  transform: translateY(12px);
}
.showing_item .showing_rate {
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  width: 55px;
  height: 40px;
  position: absolute;
  top: 12px;
  right: 12px;
  transform: translateX(-12px);
}
.slick-prev:before,
.slick-next:before {
  font-size: 21px;
  color: grey;
}
.slick-next {
  right: -23px;
}
.slick-prev {
  left: -23px;
}
